*{
    font-family: 'Roboto', sans-serif;
}
body {
  background: #f7ff00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7ff00, #db36a4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7ff00, #db36a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
p{
    font-size: 12px;
    color: rgb(87, 87, 87);
}
a {
    color: #3f86bf;
    font-size: 12px;
}

h1{
    color: rgb(87, 87, 87);
    text-decoration: none;
    margin-bottom: 0;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.content {

    width: 350px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 16px;
    flex-direction: column;
}

.content .formholder {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content .user{
    width: 100%;
    height: 32px;
}

.content .username{
    height: 32px;
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 10px;
}
.textdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
section {
    display: flex;
    flex: auto;
    width: 100%;
    gap: 4px;
}
section .splituser{
    height: 32px;
    width: 45%;
    margin: 0;
    padding: 0;
}
section .split:nth-last-of-type(1){
display: flex;
justify-content: center;
align-items: center;

}
section .split:nth-last-of-type(2){
display: flex;
width: 100%;
}

button{

    background: none;
    outline: none;
    border: none;
    border-style: solid;
    border-radius: 6px;
    height: 32px;
    width: 100%;
    background-color: #3f86bf;
    border: 1px;
    color: white;
    
}


input[type="text"], input[type="email"] {
    border: none;
    outline: none;
    border-radius: 6px;
    border-width: 1px;
    margin-bottom: 4px;
    border-color: lightgray;
    outline: none;
    height: 32px;
    flex: auto;
    box-sizing: border-box;
    padding: 10px;   
    background-color:rgb(248, 248, 248);
    font-style: italic;
    font-size: 12px;
    
}
input[type="text"]:hover, input[type="email"]:hover{
    background-color: white;
    box-shadow: 0 0px 5px rgba(197, 197, 197, 0.25), 0 10px 7px rgba(197, 197, 197,0.22);
    color: lightgray;
    
}

.check{
    margin-top: 5px;
}

.tosprompt {    
    margin-bottom: 30px;
    margin-right: 10px;
    font-size: 12px;
}

.tosprompt {
    margin-right: 5px;
    font-size: 12px;
}

.tosspan {
    margin-right: 5px;
    font-size: 12px;
    color: rgb(87, 87, 87);
}
